body{
    background-image: url("/assets/IMG_2216.JPG");
    background-size: cover;
}

h1{
    font-family:Abril Fatface;
    border: solid 6px hsl(36, 67%, 54%);
    margin: 20%;
    margin-top: 33%;
    padding: 7px;
    width: 16%;
    background-color: aliceblue;
}

.topnav {
    background-color: #7f7e7e;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
 }
 
 .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }
 
 .topnav a:hover {
    background-color:#4a8252;
    color: black;
 }

 #twitter{
     width:10%;
     height:10%;
 }